.orientation-list {
	max-width: 700px;
	margin: 20px auto 0;
	padding: 0 20px;
}

.orientation-list article{
	background: #fff;
	border-radius: 1px solid #ddd;
	padding: 5px;
	margin-bottom:20px;
	border: 5px solid #104170;
}

.orientation-list article p{
	font-size: 16px;
	color: #000;
	margin-top: 5px;
	line-height: 24px;
}

.orientation-list article a{
	height: 42px;
	border-radius: 5px;
	border: 2px solid #104170;
	background: none;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #104170;
	font-weight: bolder;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
}

.orientation-list article a:hover{
	background: #104170;
	color: #fff;
}

.orientation-list h1{
	color: #104170;
	margin-bottom: 20px;
}

.orientation-list .orientation-actions{
	display: flex;
	justify-content: space-between;
	margin-bottom:20px;
}

.orientation-list  .orientation-actions button{
	height: 30px;
	border-radius: 5px;
	border: 2px solid #6c757d;
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #6c757d;
	font-weight: bolder;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
	padding: 5px;
	cursor:pointer;
}

.orientation-list  .orientation-actions button[disabled]{
	opacity: 0.2;
	cursor: default;
}

.orientation-list  .orientation-actions button:hover{
	opacity: 0.7;
}

.orientation-list  .orientation-actions button[disabled]:hover{
	opacity: 0.2;
}

.createOrientation {
	height: 42px;
	border-radius: 5px;
	border: 2px solid #6c757d;
	background: none;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #6c757d;
	font-weight: bolder;
	font-size: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s;
}

.createOrientation:hover{
	background: #6c757d;
	color: #fff;
}

header#main-headera {
	width: 100%;
	height: 60px;
	padding: 10px;
	background: #ffc107;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: left;
	align-items: center;
}