header#main-header {
	width: 100%;
	height: 60px;
	padding: 10px;
	background: #104170;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: left;
	align-items: center;
}